/* General site style */
/*Major Modular Sixth Scale:http://www.modularscale.com/?22&px&1.667&web&text*/
html{
    font-size: 1.375em; /*22px*/
    line-height: 1.2em /*26px / 120*/
    height: 100%;
    background-color: #84a3cc;
  }
  body{
    height: 100%;
  }
  h1{
    font-size: 1.667em; /*36.674px*/
    line-height: 1.2em /*26px*/
    font-family: "EB Garamond", "MVB Verdigris", serif;
    color: #022540;
    font-weight: 400;
  }
  p{
    font-family: "Roboto", "Akkurat", sans-serif;
  }
  body > header > img{
    width: 20%;
    position: absolute;
    left: 1%;
    top: 1%;
    z-index: 1;
  }




/* working on this right now


  nav{
    position:absolute;
    z-index: 1;
    width: 100%;
  }
  nav ul{
    list-style: none;
    text-decoration: none;
    margin-left:25%;
    padding-left: 0;
    text-align: right;
  }
  nav ul li{
    display: inline-block;
    padding: .2em .5em;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
  }


*/

  @media screen and (min-width:768px){
    body > header > img{
    width: 15%;
    }
  }
  /* @media screen (min-width:1200px){
  } working on this next */

  /* Start of Homepage style */

  #splashimg{
    width:auto;
    height: 20%;
    object-fit: contain;
  }
  #splashimg > img{
    max-width:190%;
    position: absolute;
    left: 0px;
    top: 0px;
    filter:brightness(.8);
    margin-left: -20%;
    z-index:-1;
  }
  #forward{
    z-index: 1;
    position:absolute;
    top:40%;
    color: #efeff1;
    background-color: rgb(44, 106, 186, .8);
    margin: .5em;
    padding: .5em;
    box-shadow: 1px 1px 2px rgb(44, 106, 186, 1);
  }
  #forward h1{
    color: #efeff1;
  }
  #contact{
    z-index: 1;
    position:relative;
    top:40%;
    color: #efeff1;
    background-color: rgb(44, 106, 186, .5);
    margin: .5em;
    padding: .5em;
    box-shadow: 1px 1px 2px rgb(44, 106, 186, 1);
    text-align: center;
  }
  #contact h1{
    color: #efeff1;
  }
  #iframe{
    z-index: 1;
    position: absolute;
    top:110%;
    left: 20%;
  }

  @media screen and (min-width: 768px){
    #forward{
      top:60%;
      margin:2em;
      padding:1em;
    }
  }

  @media screen and (min-width: 1200px){
    #splashimg > img{
      margin:0;
      height:100%;
      width:100%;
    }
  }
