/* General site style */
/*Major Modular Sixth Scale:http://www.modularscale.com/?22&px&1.667&web&text*/
html{
    font-size: 1.375em; /*22px*/
    line-height: 1.2em; /*26px / 120*/
    height: 100%;
    background-color: #84a3cc;
  }
  body{
    height: 100%;
    font-family: "Roboto", "Akkurat", sans-serif;
  }
  h1{
    font-size: 1.667em; /*36.674px*/
    line-height: 1.2em; /*26px*/
    font-family: "Roboto", "Akkurat", sans-serif;
    color: #022540;
    font-weight: 400;
  }
  p{
    font-family: "Roboto", "Akkurat", sans-serif;
  }
  body > header > img{
  width: 20%;
  float:right;
  z-index: 1;
  }

/* nav menu */

.navbar {
  overflow: hidden;
  bottom: 2em;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2em;
  border: solid .05em;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: .09em 0 0 .09em;
  z-index: 2;
}

.navbar a:hover, .dropdown:hover .dropbtn, .navbar a:active, .dropdown:active .dropbtn {
  background-color: darkblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 2px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  /* Start of Homepage style */

  #splashimg{
    width:auto;
    height: 20%;
    object-fit: contain;
  }
  #splashimg > img{
    width:-webkit-fill-available;
    position: absolute;
    top: 0px;
    filter:brightness(.8);
    margin-left: -20%;
    z-index:-1;
  }
  #forward{
    z-index: 1;
    position:absolute;
    top:30%;
    color: #efeff1;
    background-color: rgb(44, 106, 186, .8);
    margin: .5em;
    padding: .5em;
    box-shadow: 1px 1px 2px rgb(44, 106, 186, 1);
  }
  #forward h1{
    color: #efeff1;
  }
/* end of home page */

/* screen adaptions */

  @media screen and (min-width:768px){
    #forward{
      top:30%;
      margin:2em;
      padding:1.5em;
    }
    body > header > img {
      height: 15%;
      margin: .5em;
    }
  }
  @media screen and (min-width:1200px){
    html{
      font-size:2.292em; /* 36.674px */  
    }
    #forward{
      top: 40%;
      margin: 4em;
      padding: 1.5em;
    }
    body > header > img {
      width: 10%;
      margin: .5em;
    }
    #splashimg > img{
      margin:0;
      height:100%;
      width:100%;
    }
  }

/* end of screen adaptions */

/* start of contact.html */

#contact{
    z-index: 1;
    position:relative;
    top:35%;
    color: #efeff1;
    margin: .5em;
    padding: .5em;
    width:100%;
    margin-right: 10px;
    background-color: #84a3cc;
  }
  #contact > h1{
    color: #efeff1;
}

  #contact > h2{
    color: black;
    text-align: center;
  }
  #iframe{
    z-index: 1;
    position: absolute;
    top:110%;
    left: 20%;
  }
  #contact-splashimg > img{
    max-width:190%;
    position: absolute;
    left: 0px;
    top: 0px;
    filter:brightness(.8);
    margin-left: -20%;
  }
  #left-wrapper{
    float:left;
    width: 28%;
    height: 400px;
    border-right: double;
    background-color: #84a3cc;
  }
  #right-wrapper{
    float: right;
    height: 400px;
    width: 70%;
    color: #022540;
    align-content: center;
    margin-right: 15px;
    background-color: #84a3cc;
  }
  .form-control {
    display: block;
    height: calc(2.25rem + 2px);
    width:90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .col-12 {
  max-width: 100%;
  flex: 0 0 100%;
  }
  strong {
  font-weight: bolder;
  }
  textarea{
  width: 10%;
  }
  #form-left-wrapper{
  float:left;
    width: 50%;
  }
  #form-right-wrapper{
  float: right;
  width: 50%;
  }
  .btn--red {
  color: #fff;
  border-color: #d81100;
  background: #ff4535;
  }
  .font-b{
    color: #022540;
  }
  .pastevent-link{
    color: #20c1ff;
    text-decoration: none;
    transition: all 0.3s linear;
  }
  .font15{
    font-size:16px;
  }
  .col-6 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }
  .borderXS {
  border: 2px solid #d7d7d7;
  }
  .border-radius--sm {
  border-radius: 5px!important;
  }
  .padding-sm {
  padding: 10px;
  }
  .text-center {
  text-align: center!important;
  }
  .margin--auto {
  margin: auto;
  display: block;
  }
  .Input {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  }
  .padding-lg{
  padding: 10px 150px 20px 150px;
  }
  .pullRight {
  float: right;
  }
